doctype
html(lang='ru')
    head
        meta(charset='utf-8')
        title
            |Тестовое задание Правовед.ру
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/bootstrap-theme.css")
        link(rel="stylesheet", href="css/bundle.css")
        script(src="js/jquery-3.1.1.js")
        script(src="js/bootstrap.js")
                
    body
        .container
            .card
                .col-md-2.col-xs-12
                    .photo
                        img(src="images/photo.png", alt="")
                .col-md-6.col-xs-12
                    .desc
                        .name
                            h3
                                |Мирасов Эдуард
                        .profile
                            |юрист,
                        .city
                            |г.Самара 
                        .msg
                            a(href="#")
                                | личное сообщение
                        .experience
                            |С 2009 по 2013 работал в должности следователя в ОВД. С
                            <br/>января 2013 по сентябрь 2013 работал в лизинговой <br/> компании. С сентября 2013 по настоящее время работаю в
                        .spec
                            |5 специализаций
                        .exp-years
                            |8 лет стажа
                .col-md-4.col-xs-12
                    .rating
                        .level
                            |7,5
                        .rating-description
                            |Рейтинг Правовед.ру
                            .bullets-rating
                                span.bullets-rating__underlay
                                span.bullets-rating__overlay
                    .get-help
                        button
                            |Обратиться к юристу
                    .feedback
                        span
                            |3268 отзывов 
                        |от клиентов